{% liquid
  assign selected_variant = product.selected_or_first_available_variant
%}

<div class="c-product-page u-py-32">
  <div class="c-product-page__content l-wrap">
    <div class="c-product-page__medias">
      <div class="u-hidden-lte-1023">
        {% for media in product.media %}
          <div class="c-product-page__media {{ media.media_type }}">
            {% render 'product-media', media: media %}
          </div>
        {% endfor %}
      </div>

      {% if product.media.size > 1 %}
        <!-- Swiper slider main container -->
        <div class="swiper c-swiper c-product-media-slider u-hidden-gte-1024">
          <div class="swiper-wrapper">
            <!-- Slides -->
            {% for media in product.media %}
              <div class="swiper-slide {{ media.media_type }}">
                {% render 'product-media', media: media %}
              </div>
            {% endfor %}
          </div>

          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      {% else %}
        <div class="c-product-page__media u-hidden-gte-1024 {{ product.media.first.media_type }}">
          {% render 'product-media', media: product.media.first %}
        </div>
      {% endif %}
    </div>
    <div class="c-product-page__infos">
      {% form 'product', product %}
        <input type="hidden" name="id" value="{{ selected_variant.id }}">

        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'vendor' %}
              <div class="c-product-page__vendor u-text-gray">{{ product.vendor }}</div>

            {% when 'title' %}
              <h2 class="c-product-page__title">{{ product.title }}</h2>

            {% when 'price' %}
              <div class="c-product-page__price u-mt-8">
                {% if selected_variant.compare_at_price %}
                  <span class="u-text-linethrough u-text-gray" id="compare_at_price">
                    {{- selected_variant.compare_at_price | money -}}
                  </span>
                {% endif %}
                <span id="price">{{ selected_variant.price | money }}</span>
                {% if selected_variant.compare_at_price > selected_variant.price %}
                  <span class="c-badge c-badge--red">on Sale</span>
                {% endif %}
              </div>

            {% when 'variant_selector' %}
              {% unless product.has_only_default_variant %}
                <variant-selector data-url="{{ product.url }}" data-section="{{ section.id }}">
                  {% for option in product.options_with_values %}
                    <div class="u-my-16">
                      <label for="{{ option.name }}-variant-dropdown">{{ option.name }}</label>
                      <select name="options[{{ option.name }}]" id="{{ option.name }}-variant-dropdown">
                        {% for value in option.values %}
                          <option
                            value="{{ value }}"
                            {% if option.selected_value == value %}
                              selected="selected"
                            {% endif %}
                          >
                            {{ value }}
                          </option>
                        {% endfor %}
                      </select>
                    </div>
                  {% endfor %}

                  <script type="application/json" id="product_variants">
                    {{- product.variants | json -}}
                  </script>
                </variant-selector>
              {% endunless %}

            {% when 'quantity' %}
              <div class="c-product-page__quantity-wrapper u-my-16">
                <label for="quantity" class="u-m-0">Quantity</label>
                <input type="number" name="quantity" id="quantity" value="1" min="1">
              </div>

            {% when 'add_to_cart_button' %}
              <div class="u-my-16">
                <button
                  type="submit"
                  name="add"
                  class="c-btn c-btn--black c-btn--full"
                  id="submit_btn"
                  {% if selected_variant.available == false %}
                    disabled
                  {% endif %}
                >
                  {% if selected_variant.available == false %}
                    Sold out
                  {% else %}
                    Add to cart
                  {% endif %}
                </button>
              </div>

            {% when 'description' %}
              <div class="c-product-page__desc u-mt-24">
                {{ product.description }}
              </div>
            {% else %}
              <p>What else! TODO</p>
          {% endcase %}
        {% endfor %}
      {% endform %}
    </div>
  </div>
</div>

<script>
  class VariantSelector extends HTMLElement {
    constructor() {
      super();
      this.addEventListener('change', this.onVariantChange);
    }

    onVariantChange() {
      const productVariants = JSON.parse(this.querySelector('#product_variants').textContent);
      const selectedOptions = Array.from(this.querySelectorAll('select'), (selectEl) => selectEl.value).join(' / ');
      const variant = productVariants.find((variant) => variant.title === selectedOptions);
      console.log('Saabbir:', 'variant', variant);

      // console.log('Saabbir:', 'selectedOptions', selectedOptions);
      // console.log('Saabbir:', 'variant', variant);

      // Set variant id
      document.querySelector('input[name="id"]').value = variant.id;

      // Update current url with variant id
      window.history.replaceState({}, '', `?variant=${variant.id}`);

      this.updatePriceAndAvailability(variant);
    }

    async updatePriceAndAvailability({ id, available }) {
      // Set variant availability
      const submitBtn = document.querySelector('#submit_btn');
      if (!available) {
        submitBtn.setAttribute('disabled', 'disabled');
        submitBtn.textContent = 'Sold out';
      } else {
        submitBtn.removeAttribute('disabled');
        submitBtn.textContent = 'Add to cart';
      }

      const endpoint = `${this.dataset.url}?variant=${id}&section_id=${this.dataset.section}`;
      const response = await fetch(endpoint);
      const text = await response.text();
      const html = new DOMParser().parseFromString(text, 'text/html');
      const newPrice = html.querySelector('#price').innerHTML;
      const newCompareAtPrice = html.querySelector('#compare_at_price').innerHTML;

      if (newPrice && newCompareAtPrice) {
        document.querySelector('#price').innerHTML = newPrice;
        document.querySelector('#compare_at_price').innerHTML = newCompareAtPrice;
      }
    }
  }
  customElements.define('variant-selector', VariantSelector);

  document.addEventListener('DOMContentLoaded', function () {
    const swiper = new Swiper('.c-product-media-slider', {
      direction: 'horizontal',
      loop: false,

      // If we need pagination
      pagination: {
        el: '.swiper-pagination',
      },

      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  });
</script>

{% schema %}
{
  "name": "Template Product",
  "blocks": [
    {
      "type": "vendor",
      "name": "Vendor",
      "limit": 1
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1
    },
    {
      "type": "variant_selector",
      "name": "Variant Selector",
      "limit": 1
    },
    {
      "type": "quantity",
      "name": "Quantity",
      "limit": 1
    },
    {
      "type": "add_to_cart_button",
      "name": "Add to cart Button",
      "limit": 1
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    }
  ]
}
{% endschema %}
