<div class="c-collection-page u-py-32">
  <div class="l-wrap">
    <header class="u-d-f u-ai-center u-jc-sb u-gap-16 u-mb-16 u-flex-wrap">
      <h2>{{ collection.title }}</h2>
      <div><a href="{{ routes.collections_url }}">Go back to all collections</a></div>
    </header>

    {% paginate collection.products by section.settings.products_per_page %}
      <div class="c-collection-filters-and-products">
        <!-- Product Filters --->
        <div class="c-collection-filters">
          <div class="c-collection-filters__header">
            <h3>Filters</h3>
          </div>
          <div class="c-collection-filters__body">
            {% for filter in collection.filters %}
              <div class="c-collection-filter">
                <div class="c-collection-filter__label">{{ filter.label }}</div>
                <div class="c-collection-filter__options">
                  {% if filter.type == 'list' or filter.type == 'boolean' %}
                    {% for filter_value in filter.values %}
                      <div class="c-collection-filter__value">
                        <input type="checkbox" id="{{ filter_value.value | handle }}" name="{{ filter.label | handle }}" value="{{ filter_value.value }}">
                        <label for="{{ filter_value.value | handle }}">{{ filter_value.value }} ({{ filter_value.count }})</label>
                      </div>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

        <!-- Product Cards --->
        <div class="c-product-cards">
          {% for product in collection.products %}
            {% render 'product-card', product: product %}
          {% else %}
            <p>No products available in this collection.</p>
          {% endfor %}
        </div>
        
      </div>

      {% render 'pagination', paginate: paginate %}
    {% endpaginate %}
  </div>
</div>

{% schema %}
{
  "name": "Template Collection",
  "settings": [
    {
      "id": "products_per_page",
      "label": "Products per page",
      "type": "range",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 6
    }
  ]
}
{% endschema %}
